<span style='color: #000'>76 frames</span>	<span style='color: #900'>4,864 KB</span>	<span style='color: #090'>66.21 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />