<span style='color: #000'>282 frames</span>	<span style='color: #900'>7,936 KB</span>	<span style='color: #090'>4,337.68 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />