article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}[hidden] {
    display: none
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 1.231
}

body,button,input,select,textarea {
    font-family: 'PT Sans','Tahoma',sans-serif;
    color: #222
}

::-moz-selection {
    background: #8eacb7;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #8eacb7;
    color: #fff;
    text-shadow: none
}

a {
    color: #00e
}

a:visited {
    color: #551a8b
}

a:hover {
    color: #06e
}

a:focus {
    outline: 0
}

a:hover,a:active {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: bold
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold
}

pre,code,kbd,samp {
    font-family: monospace,monospace;
    _font-family: 'courier new',monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before,q:after {
    content: "";
    content: none
}

small {
    font-size: 85%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

ul,ol {
    margin: 1em 0;
    padding: 0 0 0 40px
}

dd {
    margin: 0 0 0 40px
}

nav ul,nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

label {
    cursor: pointer
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
	
    vertical-align: baseline;
    *vertical-align: middle
}

button,input {
    line-height: normal;
    *overflow: visible
}

table button,table input {
    *overflow: auto
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

input:invalid,textarea:invalid {
    background-color: #f0dddd
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    vertical-align: top
}

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr
}

.ir br {
    display: none
}

.hidden {
    display: none;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

@media print {
    * {
        background: transparent!important;
        color: black!important;
        text-shadow: none!important;
        filter: none!important;
        -ms-filter: none!important
    }

    a,a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
        content: ""
    }

    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr,img {
        page-break-inside: avoid
    }

    img {
        max-width: 100%!important
    }@    page {
        margin: .5cm
    }

    p,h2,h3 {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }
}

.container_12 {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%
}

.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
	margin-bottom:10px;
    margin-right: 1%
}

.alpha {
    margin-left: 0
}

.omega {
    margin-right: 0
}

.container_12 .grid_1 {
    width: 6.333%
}

.container_12 .grid_2 {
    width: 14.667%
}

.container_12 .grid_3 {
    width: 23.0%
}

.container_12 .grid_4 {
    width: 31.333%
}

.container_12 .grid_5 {
    width: 39.667%
}

.container_12 .grid_6 {
    width: 48.0%
}

.container_12 .grid_7 {
    width: 56.333%
}

.container_12 .grid_8 {
    width: 64.667%
}

.container_12 .grid_9 {
    width: 73.0%
}

.container_12 .grid_10 {
    width: 81.333%
}

.container_12 .grid_11 {
    width: 89.667%
}

.container_12 .grid_12 {
    width: 98.0%
}

.container_12 .prefix_1 {
    padding-left: 8.333%
}

.container_12 .prefix_2 {
    padding-left: 16.667%
}

.container_12 .prefix_3 {
    padding-left: 25.0%
}

.container_12 .prefix_4 {
    padding-left: 33.333%
}

.container_12 .prefix_5 {
    padding-left: 41.667%
}

.container_12 .prefix_6 {
    padding-left: 50.0%
}

.container_12 .prefix_7 {
    padding-left: 58.333%
}

.container_12 .prefix_8 {
    padding-left: 66.667%
}

.container_12 .prefix_9 {
    padding-left: 75.0%
}

.container_12 .prefix_10 {
    padding-left: 83.333%
}

.container_12 .prefix_11 {
    padding-left: 91.667%
}

.container_12 .suffix_1 {
    padding-right: 8.333%
}

.container_12 .suffix_2 {
    padding-right: 16.667%
}

.container_12 .suffix_3 {
    padding-right: 25.0%
}

.container_12 .suffix_4 {
    padding-right: 33.333%
}

.container_12 .suffix_5 {
    padding-right: 41.667%
}

.container_12 .suffix_6 {
    padding-right: 50.0%
}

.container_12 .suffix_7 {
    padding-right: 58.333%
}

.container_12 .suffix_8 {
    padding-right: 66.667%
}

.container_12 .suffix_9 {
    padding-right: 75.0%
}

.container_12 .suffix_10 {
    padding-right: 83.333%
}

.container_12 .suffix_11 {
    padding-right: 91.667%
}

.container_12 .push_1 {
    left: 8.333%
}

.container_12 .push_2 {
    left: 16.667%
}

.container_12 .push_3 {
    left: 25.0%
}

.container_12 .push_4 {
    left: 33.333%
}

.container_12 .push_5 {
    left: 41.667%
}

.container_12 .push_6 {
    left: 50.0%
}

.container_12 .push_7 {
    left: 58.333%
}

.container_12 .push_8 {
    left: 66.667%
}

.container_12 .push_9 {
    left: 75.0%
}

.container_12 .push_10 {
    left: 83.333%
}

.container_12 .push_11 {
    left: 91.667%
}

.container_12 .pull_1 {
    left: -8.333%
}

.container_12 .pull_2 {
    left: -16.667%
}

.container_12 .pull_3 {
    left: -25.0%
}

.container_12 .pull_4 {
    left: -33.333%
}

.container_12 .pull_5 {
    left: -41.667%
}

.container_12 .pull_6 {
    left: -50.0%
}

.container_12 .pull_7 {
    left: -58.333%
}

.container_12 .pull_8 {
    left: -66.667%
}

.container_12 .pull_9 {
    left: -75.0%
}

.container_12 .pull_10 {
    left: -83.333%
}

.container_12 .pull_11 {
    left: -91.667%
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

body {
    background: url("../img/container/navigation/nav-bg.png") repeat-y scroll top left #e3e5e7
}

body.special-page {
    background: url("../img/container/special-page/special-page-bg.png") no-repeat scroll top center #2b3237
}

#login-box {
    margin: 0 auto;
    margin-top: 80px;
    width: 400px
}

#error-number {
    text-align: center;
    margin-top: 150px
}

#error-text {
    text-align: center;
    margin-top: -20px
}

#container>#header-surround>#header {
    background: url("../img/container/header/header-bg.png") repeat-x scroll top left transparent;
    height: 43px;
    position: relative;
    z-index: 30
}

#container>#header-surround {
    background: url("../img/misc/shadow/shadow-bottom.png") repeat-x scroll bottom left transparent;
    padding-bottom: 14px;
    position: relative;
    z-index: 50
}

.logo {
    margin-left: 20px;
    float: left
}

#container>#header-surround>#header>#user-info>p>.messages {
    margin-right: 10px
}

#user-info {
    float: right;
    margin-top: -4px;
    margin-right: 10px
}

#container>#footer {
    background: url("../img/container/footer/footer-bg.png") repeat-x scroll bottom left transparent;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000
}

#footer .footer-icon {
    background: url("../img/container/footer/footer-icon.png") no-repeat scroll top left transparent;
    height: 50px;
    width: 59px;
    float: left
}

#login-details {
    background: url("../img/container/login-details/login-details-bg.png") repeat-x scroll top center #212f3b;
    margin-right: 1px;
    padding: 15px
}

#container>#sidebar {
    float: left;
    width: 261px;
    position: absolute;
    z-index: 30
}

#container>#sidebar>#nav>.menu {
    padding-bottom: 14px;
    margin-top: -1px
}

#container>#sidebar>#nav>.menu li {
	overflow: hidden;
	margin-right: 1px;
	line-height: 39px;
	font-size: 14px;
	font-weight: bold;
	font-family:arial;
}

#container>#sidebar>#nav>.menu li img {
    padding-right: 15px
}

#container>#sidebar>#nav>.menu li a {
    background: url("../img/container/navigation/nav-item-bg.png") repeat-x scroll 0 0 transparent;
    display: block;
    text-decoration: none;
    padding-left: 20px
}

#container>#sidebar>#nav>.menu li a.current {
    background: url("../img/container/navigation/nav-item-current-bg.png") repeat-x scroll top left transparent
}

#container>#sidebar>#nav>.menu li ul li a.current {
    background: none scroll top left #3b5060
}

#container>#sidebar>#nav>.menu li ul li{
font-family:tahoma;}


#container>#sidebar>#nav>.menu li a:hover {
    background: url("../img/container/navigation/nav-item-bg.png") repeat-x scroll 0 -39px transparent
}

#container>#sidebar>#nav>.menu li a span.arrow {
    background: url("../img/container/navigation/nav-arrows.png") no-repeat 0 0 transparent;
    position: absolute;
    right: 0;
    margin-top: 8px;
    margin-right: 5px;
    height: 24px;
    width: 24px
}

#container>#sidebar>#nav>.menu li .active-icon span.arrow {
    background-position: 0 -24px
}

#container>#sidebar>#nav>.menu li .non-active-icon span.arrow {
    background-position: 0 0
}

#container>#sidebar>#nav>.menu li ul {
    background: url("../img/container/navigation/nav-ac-shadow.html") repeat-x scroll top left #324452
}

#container>#sidebar>#nav>.menu li ul li a {
    background: 0;
    border-top: 1px solid #212f39
}

#container>#sidebar>#nav>.menu li ul li a:hover {
    background: none scroll top left #284860
}

.badge {
    background: none repeat scroll top left #293946;
    float: right;
    margin-right: 33px;
    margin-top: 10px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 10px 10px 10px 10px
}

.badge.red {
    background: none repeat scroll top left #864135
}

.badge.grey {
    background: none repeat scroll top left #d5d5d5
}

#container>#main>#title-bar {
    background: url("../img/container/title-bar/title-bar-bg.png") repeat-x scroll top left transparent;
    height: 42px;
    position: relative;
    z-index: 30
}

.shadow-titlebar {
    height: 14px
}

#container>#sidebar>#search-bar {
    background: url("../img/container/title-bar/title-bar-bg.png") repeat-x scroll top left transparent;
    height: 42px;
    position: relative;
    z-index: 30;
    margin-right: 1px;
    margin-bottom: -1px
}

#container>#main {
    margin-left: 261px
}

#container>#main>#main-content {
    background: url("../img/container/main/main-bg.png") repeat-x scroll top center transparent;
    position: relative;
    min-height: 434px;
    margin-top: -14px;
    padding-top: 10px
}

.shadow-top {
    background: url("../img/misc/shadow/shadow-top.png") repeat-x scroll top left transparent;
    height: 14px;
    position: relative;
    z-index: 100
}

.shadow-bottom {
    background: url("../img/misc/shadow/shadow-bottom.png") repeat-x scroll bottom left transparent;
    position: relative;
    z-index: 30
}

.fix-shadow-bottom-height {
    margin-top: -14px
}

.height-fix {
    height: 70px
}

.divider-header {
    position: absolute;
    margin-left: 260px
}

.divider-vertical {
    background: url("../img/misc/divider/divider-vertical.png") no-repeat scroll top left transparent;
    height: 34px;
    width: 2px;
    overflow: hidden
}

.block-actions ul li.divider-vertical {
    margin-top: -5px;
    margin-right: -17px
}

.framed {
    background: none repeat scroll 0 0 #eeeff7;
    border: 1px solid #969696;
    line-height: 0;
    padding: 1px;
    border-radius: 3px 3px 3px 3px
}

.img-left {
    float: left;
    margin-right: 8px;
    margin-bottom: 8px
}

.block-border {
    margin-top: 15px;
    background: url("../img/misc/shine-effect.png") repeat-x scroll 0 0 rgba(33,40,44,0.7);
    border: 1px solid #25333c;
    border-radius: 5px 5px 5px 5px;
    padding: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.block-content {
    background: none repeat scroll 0 0 #fafafa;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    padding: 0 10px;
    border: 1px solid #4b5e6b
}

.block-content.dark-bg {
    background: url("../img/container/block/dark-bg.png") repeat-x scroll top left transparent;
    border: 1px solid #111a22;
    box-shadow: none!important
}

.block-border .block-content+.block-content {
    margin-top: 10px
}

.block-border .block-content {
    box-shadow: 0 0 6px rgba(255,255,255,0.3)
}

.block-header {
    background: url("../img/container/block/block-header-bg.png") repeat-x scroll top left #cfdee5;
    min-height: 38px;
    border: 1px solid #4b5e6b;
    border-bottom: 1px solid #9ba6ab;
    margin-bottom: -2px;
    position: relative;
    z-index: 5
}

.block-header.small {
    min-height: 27px
}

.block-actions {
    margin: 0 -19px -10px -19px;
    background: url("../img/container/block/block-actions-bg.png") repeat-x scroll bottom left transparent;
    border-radius: 0 0 5px 5px;
    height: 44px;
    overflow: hidden
}

.dataTables_wrapper .block-actions {
    margin-left: -9px;
    margin-right: -9px
}

.block-header span {
    background: url("../img/icons/packs/diagona/16x16/minus.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    display: block;
    cursor: pointer
	
}

.block-header span.closed {
    background: url("../img/icons/packs/diagona/16x16/plus.png") no-repeat scroll 0 0 transparent
}

.block-header h1 {
    float: left
}

.block-header ul.tabs {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    margin-top: 13px;
    position: absolute;
    right: 5px
}

.block-header ul.tabs li {
    float: left;
    padding: 5px 15px;
    margin-right: 3px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    border: 1px solid transparent
}

.block-header ul.tabs li.active {
    background: none repeat scroll top left #fafafa;
    border: 1px solid #9ba6ab;
    border-bottom: 1px solid #fafafa
}

.block-header ul.tabs li:hover {
    background: none repeat scroll top left #fafafa;
    border: 1px solid #9ba6ab;
    border-bottom: 1px solid #fafafa
}

.toolbox-content {
    background: url("../img/container/toolbox/toolbox-arrow.png") no-repeat scroll 51px 12px transparent;
    position: absolute;
    margin-left: -40px;
    top: 30px;
    z-index: 500;
    display: block;
    padding: 1em;
    min-width: 20em;
    line-height: 1em;
    display: none
}

.alert {
    border: 1px solid;
    clear: both;
    margin-bottom: 9px;
    margin-top: 10px;
    padding: 10px 10px 10px 35px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-repeat: no-repeat;
    background-position: 10px 10px
}

.alert.no-margin {
    border-radius: 0;
    margin-left: -10px;
    margin-right: -10px;
    border-width: 1px 0
}

.alert.no-margin.top {
    border-width: 0 0 1px 0;
    margin-top: 0
}

.alert.no-margin.bottom {
    border-width: 1px 0 0 0;
    margin-bottom: 0
}

.alert span.hide {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    float: right;
    cursor: pointer;
    margin: 0
}

.alert.success {
    background-image: url("../img/icons/packs/fugue/16x16/tick-circle.png");
    background-color: #d1e8d2;
    border-color: #393;
    color: #00632e
}

.alert.error {
    background-image: url("../img/icons/packs/fugue/16x16/cross-circle.png");
    background-color: #facfcf;
    border-color: #dc1c1c;
    color: #820101
}

.alert.warning {
    background-image: url("../img/icons/packs/fugue/16x16/exclamation.png");
    background-color: #fdefbd;
    border-color: #d4b64b;
    color: #675100
}

.alert.info {
    background-image: url("../img/icons/packs/fugue/16x16/information.png");
    background-color: #d8e7fa;
    border-color: #9dbfea;
    color: #00357b
}

.alert.note {
    background-image: url("../img/icons/packs/fugue/16x16/notebook.png");
    background-color: #f4f4f4;
    border-color: #bdbdbd;
    color: #4d4d4d
}

.tipsy {
    padding: 5px;
    font-size: 10px;
    position: absolute;
    z-index: 100000
}

.tipsy-inner {
    padding: 5px 8px 4px 8px;
    background: url("../img/misc/tooltips/tooltip-bg.png") repeat-x scroll top left black;
    border: 1px solid black;
    color: white;
    max-width: 200px;
    text-align: center
}

.tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.tipsy-arrow {
    position: absolute;
    background: url('../img/misc/tooltips/tooltip-arrow.gif') no-repeat top left;
    width: 9px;
    height: 5px
}

.tipsy-n .tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -4px
}

.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px
}

.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px
}

.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    background-position: bottom left
}

.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    background-position: bottom left
}

.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    background-position: bottom left
}

.tipsy-e .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    right: 0;
    width: 5px;
    height: 9px;
    background-position: top right
}

.tipsy-w .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    left: 0;
    width: 5px;
    height: 9px
}

.noise {
    background: url("../img/misc/noise.png") repeat scroll top left transparent;
    position: relative;
    z-index: 9999999
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.align-left {
    margin-left: 0;
    margin-right: auto;
    float: left!important
}

.align-right {
    margin-left: auto;
    margin-right: 0;
    float: right!important
}

.align-center {
    margin: 0 auto;
    float: none!important
}

.button {
    background: url("../img/buttons/button-blue.png") repeat-x scroll 0 0 #2d5672;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #111;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    height: 14px
}

input[type="submit"].button {
    height: 26px
}

.button:hover {
    background: url("../img/buttons/button-blue.png") repeat-x scroll 0 -24px #4d7690;
    color: #fff!important;
    text-decoration: none
}

.button:active {
    background: url("../img/buttons/button-blue.png") repeat-x scroll 0 -48px #6290b2
}

.button.red {
    background: url("../img/buttons/button-red.png") repeat-x scroll 0 0 #6b352b
}

.button.red:hover {
    background: url("../img/buttons/button-red.png") repeat-x scroll 0 -24px #834a3f
}

.button.red:active {
    background: url("../img/buttons/button-red.png") repeat-x scroll 0 -48px #a85f51
}

.btn-info {
    background: url("../img/icons/toolbox/20x20/info.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    width: 20px;
    position: relative;
    margin-left: -10px;
    margin-top: 10px;
    float: left
}

.btn-info:hover {
    background-position: 0 -20px
}

.arrow-link-down {
    background: url("../img/icons/misc/arrow-down.png") no-repeat scroll center right transparent;
    padding-right: 20px
}

.arrow-link-down:hover {
    background: url("../img/icons/misc/arrow-down-hover.png") no-repeat scroll center right transparent
}

.user-button {
    background: url("../img/misc/shine-effect.png") repeat-x scroll top left #344655;
    border: 1px solid #000;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    float: left;
    display: inline-block;
    padding: 8px 8px
}

.user-button:hover {
    background: url("../img/misc/shine-effect.png") repeat-x scroll top left #495f71
}

.user-button:active {
    top: 1px
}

.user-button a {
    display: block
}

#footer a.top {
    background: url("../img/icons/misc/top-hover.png") no-repeat scroll 0 0 transparent;
    height: 48px;
    width: 48px;
    display: block;
    margin-left: 5px;
    padding-top: 3px
}

#footer a.top:hover {
    background-position: 0 -48px
}

#container>#header-surround>#header>ul.toolbox-header {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    float: left;
    position: relative;
    z-index: 1000
}

#container>#header-surround>#header>ul.toolbox-header li {
    float: left
}

#container>#header-surround>#header>ul.toolbox-header li a.toolbox-action {
    background: url("../img/container/header/header-bg.png") repeat-x scroll top left transparent;
    height: 43px;
    width: 45px;
    float: left
}

#container>#header-surround>#header>ul.toolbox-header li a.toolbox-action:hover {
    background: url("../img/container/toolbox/toolbox-hover.png") no-repeat scroll top left transparent
}

#container>#header-surround>#header>ul.toolbox-header li span {
    width: 24px;
    height: 24px;
    display: block;
    margin-top: 9px;
    margin-left: 11px
}

#container>#header-surround>#header>ul.toolbox-header a.active {
    background: url("../img/container/toolbox/toolbox-hover.png") no-repeat scroll top left transparent
}

.block-actions ul {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin-top: 5px
}

.block-actions ul li {
    float: left;
    padding-left: 8px;
    padding-right: 8px
}

.block-actions ul.actions-left {
    float: left;
    margin-left: 10px
}

.block-actions ul.actions-right {
    float: right;
    margin-right: 10px
}

ul.dropdown-username-menu {
    display: none;
    position: absolute;
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    right: 10px;
    z-index: 99999;
    border: 1px solid #848b93;
    border-top: 0;
    width: 160px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    background: url("../img/misc/shine-effect.png") repeat-x scroll 0 0 rgba(33,40,44,0.7);
    border: 1px solid #25333c;
    border-radius: 5px 5px 5px 5px;
    padding: 4px
}

ul.dropdown-username-menu li {
    background: url("../img/misc/dropdown/dropdown-username-menu-bg.png") repeat-x scroll top left #ebebeb;
    min-height: 25px;
    border-top: 1px solid #848b93;
    line-height: 25px;
    padding-left: 5px
}

ul.dropdown-username-menu li:hover {
    background: url("../img/misc/dropdown/dropdown-username-menu-bg-hover.png") repeat-x scroll top left #b2b7bb
}

ul.dropdown-username-menu li a {
    display: block;
    color: #555
}

ul.dropdown-username-menu li a:hover {
    text-decoration: none
}

#breadcrumbs {
    height: 42px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left
}

#breadcrumbs li {
    list-style-type: none;
    padding-left: 10px;
    float: left
}

#breadcrumbs li:hover {
    background: url("../img/misc/breadcrumb/bc-shine.png") no-repeat scroll bottom center transparent
}

#breadcrumbs li.no-hover {
    background: 0
}

#breadcrumbs a {
    height: 40px;
    background: url("../img/misc/breadcrumb/bc-seperator.png") no-repeat scroll top right transparent;
    padding-right: 20px;
    text-decoration: none;
    display: block
}

#bc-home {
    background-image: url("../img/icons/misc/home-hover.png");
    background-position: 0 5px;
    display: block;
    height: 32px;
    width: 32px
}

ul.block-list {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 15px 0
}

ul.block-list li {
    background-color: #e9e9e9;
    padding: 5px 10px;
    margin-bottom: 4px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer
}

ul.block-list li:hover {
    background-color: #dfdfdf
}

ul.block-list.with-icon li {
    background-repeat: no-repeat;
    background-position: 10px 5px;
    padding-left: 35px
}

ul.shortcut-list {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden
}

ul.shortcut-list li {
    background: url("../img/misc/lists/shortcut-list-bg.png") repeat-x scroll top left #d3d3d3;
    border: 1px solid #bcbcbc;
    float: left;
    overflow: hidden;
    margin: 10px 5px;
    cursor: pointer;
	width:113px;
	height:100px;
    border-radius: 5px 5px 5px 5px
}

ul.shortcut-list li:hover {
    background: none repeat scroll top left #e7e7e7;
    border-color: #a3a3a3
}

ul.shortcut-list li a {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 10px 5px;
    overflow: hidden
}

ul.shortcut-list li img {
    display: block;
    margin: 0 auto;	
    padding-bottom: 0px;
    overflow: hidden
}

ul.shortcut-list li:hover a {
    text-decoration: none;
    height: 68px;
    top: 1px
}

.slider {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    min-height: 150px;
    display: block;
    position: relative;
    background: #fafafa;
    overflow: hidden
}

.slider ul {
    list-style: none
}

.slider-content {
    float: left;
    width: auto;
    display: block;
    overflow: auto;
    min-height: 150px
}

.slider-content ul {
    margin-top: 0;
    margin-left: -40px;
    float: left;
    width: auto;
    display: block;
    position: relative
}

.slider-content ul li {
    float: left;
    width: 100%
}

.slider-content ul ul li a {
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid #f3f3f3;
    text-transform: capitalize
}

.slider-content ul ul li a:hover {
    background: #f3faff;
    border-color: #d5ebf9
}

.slider-content .title {
    padding: 5px 0;
    text-indent: 10px;
    background: url("../img/misc/contact-list/contactlist-bg.png") repeat-x scroll top left #d9d9d9;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    color: #585858;
    width: 100%;
    float: left;
    font-weight: bold;
    text-transform: uppercase
}

.slider-content .selected .title {
    background: url("../img/misc/contact-list/contactlist-selected-bg.png") repeat-x scroll top left #d9d9d9;
    color: #fff;
    border-top: 1px solid #2d4259;
    border-bottom: 1px solid #2d4259
}

.slider .slider-nav {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2px;
    background: url("../img/misc/contact-list/contactlist-nav-bg.png") repeat-x scroll top left #e1e1e1;
    min-height: 150px;
    border-left: 1px solid #bbb
}

.slider .slider-nav ul {
    padding: 5px 0
}

.slider .slider-nav li a {
    padding: 3px 15px;
    line-height: 13px;
    text-align: center;
    color: #585858;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    cursor: pointer
}

.slider #debug {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: #000;
    color: #fff
}

.slider .down {
    border-bottom: 0;
    border-top: 8px solid #fff;
    top: 15px
}

.slider .slide-up,.slider .slide-down {
    height: 20px;
    background: url("../img/misc/contact-list/contactlist-bg.png") repeat-x scroll top left #d9d9d9;
    text-align: center;
    cursor: pointer;
    float: right;
    width: 100%;
    position: relative;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb
}

ul.overview-list {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 15px 0
}

ul.overview-list li {
    border-top: 1px dotted #a5a5a5;
    padding: 5px 0
}

ul.overview-list li:first-child {
    border-top: 0
}

ul.overview-list li:hover {
    background-color: #ededed
}

ul.overview-list li a {
    display: block
}

ul.overview-list li a:hover {
    text-decoration: none
}

ul.overview-list li span {
    font-weight: 700;
    font-size: 22px;
    display: inline-block;
    text-align: right;
    width: 60px;
    margin-right: 5px
}

.icon {
    background-repeat: no-repeat;
    height: 24px;
    width: 24px
}

.i-16-address-book {
    background-image: url("../img/icons/packs/fugue/16x16/address-book.png")
}

.i-16-alarm-clock {
    background-image: url("../img/icons/packs/fugue/16x16/alarm-clock.png")
}

.i-16-application {
    background-image: url("../img/icons/packs/fugue/16x16/application.png")
}

.i-16-application-monitor {
    background-image: url("../img/icons/packs/fugue/16x16/application-monitor.png")
}

.i-16-application-terminal {
    background-image: url("../img/icons/packs/fugue/16x16/application-terminal.png")
}

.i-16-balloon {
    background-image: url("../img/icons/packs/fugue/16x16/balloon.png")
}

.i-16-bank {
    background-image: url("../img/icons/packs/fugue/16x16/bank.png")
}

.i-16-block {
    background-image: url("../img/icons/packs/fugue/16x16/block.png")
}

.i-16-blue-document {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document.png")
}

.i-16-blue-document-access {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-access.png")
}

.i-16-blue-document-binary {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-binary.png")
}

.i-16-blue-document-bookmark {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-bookmark.png")
}

.i-16-blue-document-break {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-break.png")
}

.i-16-blue-document-code {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-code.png")
}

.i-16-blue-document-copy {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-copy.png")
}

.i-16-blue-document-excel {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-excel.png")
}

.i-16-blue-document-excel-csv {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-excel-csv.png")
}

.i-16-blue-document-excel-table {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-excel-table.png")
}

.i-16-blue-document--exclamation {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document--exclamation.png")
}

.i-16-blue-document-film {
    background-image: url("../img/icons/packs/fugue/16x16/blue-document-film.png")
}

.i-16-bookmark {
    background-image: url("../img/icons/packs/fugue/16x16/bookmark.png")
}

.i-16-calendar {
    background-image: url("../img/icons/packs/fugue/16x16/calendar.png")
}

.i-16-chart {
    background-image: url("../img/icons/packs/fugue/16x16/chart.png")
}

.i-16-chart-pie {
    background-image: url("../img/icons/packs/fugue/16x16/chart-pie.png")
}

.i-16-clipboard {
    background-image: url("../img/icons/packs/fugue/16x16/clipboard.png")
}

.i-16-clock {
    background-image: url("../img/icons/packs/fugue/16x16/clock.png")
}

.i-16-cross {
    background-image: url("../img/icons/packs/fugue/16x16/cross.png")
}

.i-16-cross-small {
    background-image: url("../img/icons/packs/fugue/16x16/cross-small.png")
}

.i-16-cutlery {
    background-image: url("../img/icons/packs/fugue/16x16/cutlery.png")
}

.i-16-dashboard {
    background-image: url("../img/icons/packs/fugue/16x16/dashboard.png")
}

.i-16-direction {
    background-image: url("../img/icons/packs/fugue/16x16/direction.png")
}

.i-16-drive {
    background-image: url("../img/icons/packs/fugue/16x16/drive.png")
}

.i-16-exclamation {
    background-image: url("../img/icons/packs/fugue/16x16/exclamation.png")
}

.i-16-exclamation-red {
    background-image: url("../img/icons/packs/fugue/16x16/exclamation-red.png")
}

.i-16-film {
    background-image: url("../img/icons/packs/fugue/16x16/film.png")
}

.i-16-flag {
    background-image: url("../img/icons/packs/fugue/16x16/flag.png")
}

.i-16-gear {
    background-image: url("../img/icons/packs/fugue/16x16/gear.png")
}

.i-16-home {
    background-image: url("../img/icons/packs/fugue/16x16/home.png")
}

.i-16-image {
    background-image: url("../img/icons/packs/fugue/16x16/image.png")
}

.i-16-key {
    background-image: url("../img/icons/packs/fugue/16x16/key.png")
}

.i-16-leaf {
    background-image: url("../img/icons/packs/fugue/16x16/leaf.png")
}

.i-16-license-key {
    background-image: url("../img/icons/packs/fugue/16x16/license-key.png")
}

.i-16-magnifier {
    background-image: url("../img/icons/packs/fugue/16x16/magnifier.png")
}

.i-16-mail {
    background-image: url("../img/icons/packs/fugue/16x16/mail.png")
}

.i-16-map {
    background-image: url("../img/icons/packs/fugue/16x16/map.png")
}

.i-16-minus {
    background-image: url("../img/icons/packs/fugue/16x16/minus.png")
}

.i-16-monitor {
    background-image: url("../img/icons/packs/fugue/16x16/monitor.png")
}

.i-16-music {
    background-image: url("../img/icons/packs/fugue/16x16/music.png")
}

.i-16-network-cloud {
    background-image: url("../img/icons/packs/fugue/16x16/network-cloud.png")
}

.i-16-notebook {
    background-image: url("../img/icons/packs/fugue/16x16/notebook.png")
}

.i-16-plus {
    background-image: url("../img/icons/packs/fugue/16x16/plus.png")
}

.i-16-question {
    background-image: url("../img/icons/packs/fugue/16x16/question.png")
}

.i-16-servers {
    background-image: url("../img/icons/packs/fugue/16x16/servers.png")
}

.i-16-star {
    background-image: url("../img/icons/packs/fugue/16x16/star.png")
}

.i-16-status {
    background-image: url("../img/icons/packs/fugue/16x16/status.png")
}

.i-16-status-away {
    background-image: url("../img/icons/packs/fugue/16x16/status-away.png")
}

.i-16-status-busy {
    background-image: url("../img/icons/packs/fugue/16x16/status-busy.png")
}

.i-16-sticky-note {
    background-image: url("../img/icons/packs/fugue/16x16/sticky-note.png")
}

.i-16-switch {
    background-image: url("../img/icons/packs/fugue/16x16/switch.png")
}

.i-16-system-monitor {
    background-image: url("../img/icons/packs/fugue/16x16/system-monitor.png")
}

.i-16-tag {
    background-image: url("../img/icons/packs/fugue/16x16/tag.png")
}

.i-16-telephone {
    background-image: url("../img/icons/packs/fugue/16x16/telephone.png")
}

.i-16-tick {
    background-image: url("../img/icons/packs/fugue/16x16/tick.png")
}

.i-24-address-book {
    background-image: url("../img/icons/packs/fugue/24x24/address-book.png")
}

.i-24-address-book-blue {
    background-image: url("../img/icons/packs/fugue/24x24/address-book-blue.png")
}

.i-24-alarm-clock {
    background-image: url("../img/icons/packs/fugue/24x24/alarm-clock.png")
}

.i-24-alarm-clock-blue {
    background-image: url("../img/icons/packs/fugue/24x24/alarm-clock-blue.png")
}

.i-24-application {
    background-image: url("../img/icons/packs/fugue/24x24/application.png")
}

.i-24-application-blue {
    background-image: url("../img/icons/packs/fugue/24x24/application-blue.png")
}

.i-24-balloon {
    background-image: url("../img/icons/packs/fugue/24x24/balloon.png")
}

.i-24-blue-document {
    background-image: url("../img/icons/packs/fugue/24x24/blue-document.png")
}

.i-24-blue-folder {
    background-image: url("../img/icons/packs/fugue/24x24/blue-folder.png")
}

.i-24-blue-folder-horizontal-open {
    background-image: url("../img/icons/packs/fugue/24x24/blue-folder-horizontal-open.png")
}

.i-24-book {
    background-image: url("../img/icons/packs/fugue/24x24/book.png")
}

.i-24-bookmark {
    background-image: url("../img/icons/packs/fugue/24x24/bookmark.png")
}

.i-24-calendar {
    background-image: url("../img/icons/packs/fugue/24x24/calendar.png")
}

.i-24-card-address {
    background-image: url("../img/icons/packs/fugue/24x24/card-address.png")
}

.i-24-color {
    background-image: url("../img/icons/packs/fugue/24x24/color.png")
}

.i-24-cross {
    background-image: url("../img/icons/packs/fugue/24x24/cross.png")
}

.i-24-database {
    background-image: url("../img/icons/packs/fugue/24x24/database.png")
}

.i-24-disk-black {
    background-image: url("../img/icons/packs/fugue/24x24/disk-black.png")
}

.i-24-document {
    background-image: url("../img/icons/packs/fugue/24x24/document.png")
}

.i-24-drive {
    background-image: url("../img/icons/packs/fugue/24x24/drive.png")
}

.i-24-edit {
    background-image: url("../img/icons/packs/fugue/24x24/edit.png")
}

.i-24-equalizer {
    background-image: url("../img/icons/packs/fugue/24x24/equalizer.png")
}

.i-24-folder {
    background-image: url("../img/icons/packs/fugue/24x24/folder.png")
}

.i-24-folder-horizontal-open {
    background-image: url("../img/icons/packs/fugue/24x24/folder-horizontal-open.png")
}

.i-24-home {
    background-image: url("../img/icons/packs/fugue/24x24/home.png")
}

.i-24-inbox {
    background-image: url("../img/icons/packs/fugue/24x24/inbox.png")
}

.i-24-inbox-document {
    background-image: url("../img/icons/packs/fugue/24x24/inbox-document.png")
}

.i-24-information {
    background-image: url("../img/icons/packs/fugue/24x24/information.png")
}

.i-24-keyboard {
    background-image: url("../img/icons/packs/fugue/24x24/keyboard.png")
}

.i-24-mail {
    background-image: url("../img/icons/packs/fugue/24x24/mail.png")
}

.i-24-mail-open {
    background-image: url("../img/icons/packs/fugue/24x24/mail-open.png")
}

.i-24-map {
    background-image: url("../img/icons/packs/fugue/24x24/map.png")
}

.i-24-marker {
    background-image: url("../img/icons/packs/fugue/24x24/marker.png")
}

.i-24-minus {
    background-image: url("../img/icons/packs/fugue/24x24/minus.png")
}

.i-24-monitor {
    background-image: url("../img/icons/packs/fugue/24x24/monitor.png")
}

.i-24-notebook {
    background-image: url("../img/icons/packs/fugue/24x24/notebook.png")
}

.i-24-pencil {
    background-image: url("../img/icons/packs/fugue/24x24/pencil.png")
}

.i-24-plus {
    background-image: url("../img/icons/packs/fugue/24x24/plus.png")
}

.i-24-printer {
    background-image: url("../img/icons/packs/fugue/24x24/printer.png")
}

.i-24-question {
    background-image: url("../img/icons/packs/fugue/24x24/question.png")
}

.i-24-receipt {
    background-image: url("../img/icons/packs/fugue/24x24/receipt.png")
}

.i-24-server {
    background-image: url("../img/icons/packs/fugue/24x24/server.png")
}

.i-24-sitemap {
    background-image: url("../img/icons/packs/fugue/24x24/sitemap.png")
}

.i-24-smiley {
    background-image: url("../img/icons/packs/fugue/24x24/smiley.png")
}

.i-24-star {
    background-image: url("../img/icons/packs/fugue/24x24/star.png")
}

.i-24-star-empty {
    background-image: url("../img/icons/packs/fugue/24x24/star-empty.png")
}

.i-24-star-half {
    background-image: url("../img/icons/packs/fugue/24x24/star-half.png")
}

.i-24-sticky-note {
    background-image: url("../img/icons/packs/fugue/24x24/sticky-note.png")
}

.i-24-switch {
    background-image: url("../img/icons/packs/fugue/24x24/switch.png")
}

.i-24-tag {
    background-image: url("../img/icons/packs/fugue/24x24/tag.png")
}

.i-24-terminal {
    background-image: url("../img/icons/packs/fugue/24x24/terminal.png")
}

.i-24-ui-color-picker {
    background-image: url("../img/icons/packs/fugue/24x24/ui-color-picker.png")
}

.i-24-user {
    background-image: url("../img/icons/packs/fugue/24x24/user.png")
}

.i-24-user-business {
    background-image: url("../img/icons/packs/fugue/24x24/user-business.png")
}

.i-24-wand {
    background-image: url("../img/icons/packs/fugue/24x24/wand.png")
}

div.jGrowl {
    padding: 10px;
    z-index: 9999;
    color: #fff!important;
    font-size: 12px
}

div.ie6 {
    position: absolute
}

div.ie6.top-right {
    right: auto;
    bottom: auto;
    left: expression((0 - jGrowl.offsetWidth+(document.documentElement.clientWidth ? document.documentElement.clientWidth:document.body.clientWidth)+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
    top: expression((0+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px')
}

div.ie6.top-left {
    left: expression((0+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
    top: expression((0+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px')
}

div.ie6.bottom-right {
    left: expression((0 - jGrowl.offsetWidth+(document.documentElement.clientWidth ? document.documentElement.clientWidth:document.body.clientWidth)+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
    top: expression((0 - jGrowl.offsetHeight+(document.documentElement.clientHeight ? document.documentElement.clientHeight:document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px')
}

div.ie6.bottom-left {
    left: expression((0+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
    top: expression((0 - jGrowl.offsetHeight+(document.documentElement.clientHeight ? document.documentElement.clientHeight:document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px')
}

div.ie6.center {
    left: expression((0+(ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft))+'px');
    top: expression((0+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px');
    width: 100%
}

div.jGrowl {
    position: absolute
}

body>div.jGrowl {
    position: fixed
}

div.jGrowl.top-left {
    left: 0;
    top: 0
}

div.jGrowl.top-right {
    right: 0;
    top: 0
}

div.jGrowl.bottom-left {
    left: 0;
    bottom: 0
}

div.jGrowl.bottom-right {
    right: 0;
    bottom: 0
}

div.jGrowl.center {
    top: 0;
    width: 50%;
    left: 25%
}

div.center div.jGrowl-notification,div.center div.jGrowl-closer {
    margin-left: auto;
    margin-right: auto
}

div.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer {
    background-color: #000;
    opacity: .85;
    -ms-filter: "alpha(opacity=85)";
    filter: alpha(opacity=85);
    zoom: 1;
    width: 235px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'PT Sans',Arial,Helvetica,sans-serif;
    font-size: 1em;
    text-align: left;
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

div.jGrowl div.jGrowl-notification {
    min-height: 40px
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 5px
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
    z-index: 99;
    float: right;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer
}

div.jGrowl div.jGrowl-closer {
    background: none repeat scroll top left #000;
    border: 1px solid #000;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    font-size: .9em;
    font-weight: bold;
    text-align: center
}

div.jGrowl div.information,div.jGrowl div.success,div.jGrowl div.error,div.jGrowl div.warning,div.jGrowl div.saved {
    background: url("../img/icons/packs/fugue/16x16/information.png") no-repeat scroll 10px 50% #000;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-color: #000;
    padding-left: 35px;
    width: 210px
}

div.jGrowl div.success {
    background-image: url("../img/icons/packs/fugue/16x16/tick-circle.png")
}

div.jGrowl div.error {
    background-image: url("../img/icons/packs/fugue/16x16/cross-circle.png")
}

div.jGrowl div.information {
    background-image: url("../img/icons/packs/fugue/16x16/information.png")
}

div.jGrowl div.warning {
    background-image: url("../img/icons/packs/fugue/16x16/exclamation.png")
}

div.jGrowl div.saved {
    background-image: url("../img/icons/packs/fugue/16x16/disk-black.png")
}

@media print {
    div.jGrowl {
        display: none
    }
}

a {
    color: #2d5672;
    text-decoration: none
}

a:visited {
    color: #2d5672
}

a:hover {
    color: #2f383e;
    text-decoration: underline
}

h1,h2,h3,h4,h5,h6 {
    color: #475d68;
    text-shadow: 0 1px 0 #fff;
    line-height: 10px
}

h1 {
    font-size: 22px
}

h2 {
    font-size: 18px
}

h3 {
    font-size: 16px
}

h4 {
    font-size: 14px
}

h5 {
    font-size: 13px
}

h6 {
    font-size: 12px
}

p {
    font-size: 13px;
    color: #2a3640
}

#header p {
    color: #d9d9d9
}

#header .messages a {
    color: #ebebeb;
    font-weight: 700
}

#header .messages a:hover {
    color: #fff;
    text-decoration: none
}

#breadcrumbs a {
    color: #515151
}

#breadcrumbs a:hover {
    color: #2e2e2e
}

#login-details h2,#login-details h3,#login-details p {
    text-shadow: 0 1px 0 #070f16
}

#login-details h2,#login-details h2 a {
    color: #e8e8e8;
    font-size: 14px
}

#login-details h2 a:hover {
    color: #fff;
    text-decoration: none
}

#login-details h3 {
    color: #d4d4d4;
    font-size: 12px
}

#login-details p,#login-details .user-button a {
    color: #e3e3e3;
    float: left
}

#login-details .user-button a:hover {
    color: #fff;
    text-decoration: none
}

#container>#sidebar>#nav>.menu li a {
    font-size: 13px;
    color: #3b3b3b
}

#container>#sidebar>#nav>.menu li a:hover {
    color: #f4faff
}

#container>#sidebar>#nav>.menu li ul li a {
    color: #e5e5e5
}

#container>#sidebar>#nav>.menu li ul li a:hover {
    color: #fff
}

.badge {
    color: #ebebeb
}

.badge.grey {
    color: #6e6e6e
}

.block-header h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-left: 10px;
    line-height: 37px
}

.block-header.small h1 {
    font-size: 13px;
    line-height: 25px
}

.block-content.dark-bg,.block-content.dark-bg p {
    color: #f5f5f5!important
}

.block-content.dark-bg a {
    color: #e2eaf1
}

.block-content.dark-bg a:hover {
    color: #f8fcff
}

.placeholder {
    color: #909090!important
}

#search-form input[type="text"] {
    color: #343434
}

.form fieldset legend {
    font-size: 13px;
    color: #464646!important
}

.form label,.form .label {
    font-size: 13px;
    font-weight: 700;
    color: #666!important;
    text-shadow: 0 1px 0 #fff
}

.dataTables_wrapper {
    text-shadow: 0 1px 0 #fff;
    font-weight: 400
}

.table thead th:hover {
    color: #023a73
}

.dataTables_wrapper .block-actions {
    text-shadow: 0 1px 0 #000;
    color: #f3f3f3
}

.paginate_button,.paginate_active {
    color: #373737;
    text-shadow: 0 1px 0 #fff
}

.paginate_button_disabled {
    color: #9f9f9f
}

.paginate_active {
    color: #fcfcfc;
    text-shadow: 0 1px 0 #000
}

ul.tabs li a:hover {
    text-decoration: none
}

ul.shortcut-list li a {
    color: #515151
}

.toolbox-content p {
    color: #2a3640!important
}

ul.overview-list li a {
    color: #6b6b6b
}

ul.overview-list li a:hover {
    color: #434343
}

#error-number h1 {
    color: #fff;
    font-size: 50px;
    text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15)
}

.form p.inline-label,.form p.inline-medium-label,.form p.inline-small-label {
    padding-right: 10px;
	
	
}

.form fieldset {
    border: 1px solid #b7c4d1;
    border-radius: 3px 3px 3px 3px;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
    margin-top: 10px
}

.form fieldset p.inline-label,.form fieldset p.inline-medium-label,.form fieldset p.inline-small-label {
    padding-right: 0;
	padding-left:10px;
}

.form fieldset legend {
    background: url("../img/forms/legend-bg.png") repeat-x scroll top left #dcdcdc;
    padding: 5px 10px;
    line-height: 16px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    border: 1px solid #fff;
	w
    border-radius: 5px 5px 5px 5px
}

.form label,.form .label {
    display: block;
    margin-bottom: 5px
}

.form input[type="text"],.form input[type="password"],.form textarea {
    border: 1px solid #d1d1d1;
    border-color: #aaa #CCCCCc #ccc #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    line-height: 1.5em;
    padding: 5px 0;
	
    box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset
}

.form input[type="text"]:hover,.form input[type="password"]:hover,.form textarea:hover {
    border-color: #a3a3a3
}

.form input[type="text"]:focus,.form input[type="password"]:focus,.form textarea:focus {
    border-color: #666;
	
}

div.error {
    color: #740000;
    font-weight: 700
}

div.jGrowl div.error {
    color: #fff;
    font-weight: 400
}

input[type=text].error,input[type=password].error,textarea.error {
    border-color: #bf0000!important
}

p.inline-small-label label.error {
    margin-left: 0!important
}



._5 {
    width: 25%;
    display: inline;
    float: left;
   
}

._25 {
    width: 21%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%
}

._50 {
    width: 46%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%
}

._75 {
    width: 71%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%
}

._100 {
    width: 96%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%
}

input,textarea{
	width: 80%;
	font-size: 12px;
	padding-right: 6px;
	padding-left: 6px;
}

select {
    width: 100%
}

p.no-top-margin {
    margin-top: 0
}

.inline-label label,.inline-label .label,.inline-medium-label label,.inline-medium-label .label,.inline-small-label label,.inline-small-label .label,.inline-mini-label label,.inline-mini-label .label {
    float: left;
    display: block;
    padding: 4px 0 0 4px
}

p.inline-label {
    padding-left: 200px
}

.inline-label label,.inline-label .label {
    margin-left: -200px
}

p.inline-medium-label {
    padding-left: 150px
}

.inline-medium-label label,.inline-medium-label .label {
    margin-left: -150px
}

p.inline-small-label {
    padding-left: 100px
}

.inline-small-label label,.inline-small-label .label {
    margin-left: -100px
}

p.inline-mini-label {
    padding-left: 70px
}

.inline-mini-label label,.inline-mini-label .label {
    margin-left: -70px
}

#search-form input[type="text"] {
    background: url("../img/icons/misc/search.png") no-repeat scroll 8px 6px #fff;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 4px;
    border: 1px solid #b3b3b3;
    border-radius: 20px 20px 20px 20px;
    width: 205px
}

div.selector,div.selector span,div.checker span,div.radio span,div.uploader,div.uploader span.action,div.uniform-button,div.uniform-button span {
    background-image: url(../img/forms/sprite.png);
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased
}

.selector,.radio,.checker,.uploader,.uniform-button,.selector *,.radio *,.checker *,.uploader *,.uniform-button * {
    margin: 0;
    padding: 0
}

input.text,input.email,input.password,textarea.uniform {
	font-size: 13px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	color: #464646;
	border-top: solid 1px #aaa;
	border-left: solid 1px #aaa;
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
	outline: 0;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	
}

input.text:focus,input.email:focus,input.password:focus,textarea.uniform:focus {
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    border-color: #999;
    background: url('../img/forms/bg-input-focus.png') repeat-x 0 0 #fff
}

div.selector {
    background-position: -483px -130px;
    line-height: 26px;
    height: 26px
}

div.selector span {
    background-position: right 0;
    height: 26px;
    line-height: 26px;

}

div.selector select {
    top: 0;
    left: 0
	
}

div.selector:active,div.selector.active {
    background-position: -483px -156px
}

div.selector:active span,div.selector.active span {
    background-position: right -26px
}

div.selector.focus,div.selector.hover,div.selector:hover {
    background-position: -483px -182px
}

div.selector.focus span,div.selector.hover span,div.selector:hover span {
    background-position: right -52px
}

div.selector.focus:active,div.selector.focus.active,div.selector:hover:active,div.selector.active:hover {
    background-position: -483px -208px
}

div.selector.focus:active span,div.selector:hover:active span,div.selector.active:hover span,div.selector.focus.active span {
    background-position: right -78px
}

div.selector.disabled {
    background-position: -483px -234px
}

div.selector.disabled span {
    background-position: right -104px
}

div.checker {
    width: 19px;
    height: 19px
}

div.checker input {
    width: 19px;
    height: 19px
}

div.checker span {
    background-position: 0 -260px;
    height: 19px;
    width: 19px
}

div.checker:active span,div.checker.active span {
    background-position: -19px -260px
}

div.checker.focus span,div.checker:hover span {
    background-position: -38px -260px
}

div.checker.focus:active span,div.checker:active:hover span,div.checker.active:hover span,div.checker.focus.active span {
    background-position: -57px -260px
}

div.checker span.checked {
    background-position: -76px -260px
}

div.checker:active span.checked,div.checker.active span.checked {
    background-position: -95px -260px
}

div.checker.focus span.checked,div.checker:hover span.checked {
    background-position: -114px -260px
}

div.checker.focus:active span.checked,div.checker:hover:active span.checked,div.checker.active:hover span.checked,div.checker.active.focus span.checked {
    background-position: -133px -260px
}

div.checker.disabled span,div.checker.disabled:active span,div.checker.disabled.active span {
    background-position: -152px -260px
}

div.checker.disabled span.checked,div.checker.disabled:active span.checked,div.checker.disabled.active span.checked {
    background-position: -171px -260px
}

div.radio {
    width: 18px;
    height: 18px
}

div.radio input {
    width: 18px;
    height: 18px
}

div.radio span {
    height: 18px;
    width: 18px;
    background-position: 0 -279px
}

div.radio:active span,div.radio.active span {
    background-position: -18px -279px
}

div.radio.focus span,div.radio:hover span {
    background-position: -36px -279px
}

div.radio.focus:active span,div.radio:active:hover span,div.radio.active:hover span,div.radio.active.focus span {
    background-position: -54px -279px
}

div.radio span.checked {
    background-position: -72px -279px
}

div.radio:active span.checked,div.radio.active span.checked {
    background-position: -90px -279px
}

div.radio.focus span.checked,div.radio:hover span.checked {
    background-position: -108px -279px
}

div.radio.focus:active span.checked,div.radio:hover:active span.checked,div.radio.focus.active span.checked,div.radio.active:hover span.checked {
    background-position: -126px -279px
}

div.radio.disabled span,div.radio.disabled:active span,div.radio.disabled.active span {
    background-position: -144px -279px
}

div.radio.disabled span.checked,div.radio.disabled:active span.checked,div.radio.disabled.active span.checked {
    background-position: -162px -279px
}

div.uploader {
    background-position: 0 -297px;
    height: 28px
}

div.uploader span.action {
    background-position: right -409px;
    height: 24px;
    line-height: 24px
}

div.uploader span.filename {
    height: 24px;
    margin: 2px 0 2px 2px;
    line-height: 24px
}

div.uploader.focus,div.uploader.hover,div.uploader:hover {
    background-position: 0 -353px
}

div.uploader.focus span.action,div.uploader.hover span.action,div.uploader:hover span.action {
    background-position: right -437px
}

div.uploader.active span.action,div.uploader:active span.action {
    background-position: right -465px
}

div.uploader.focus.active span.action,div.uploader:focus.active span.action,div.uploader.focus:active span.action,div.uploader:focus:active span.action {
    background-position: right -493px
}

div.uploader.disabled {
    background-position: 0 -325px
}

div.uploader.disabled span.action {
    background-position: right -381px
}

div.uniform-button {
    background-position: 0 -523px
}

div.uniform-button span {
    background-position: right -643px
}

div.uniform-button.focus,div.uniform-button:focus,div.uniform-button:hover,div.uniform-button.hover {
    background-position: 0 -553px
}

div.uniform-button.focus span,div.uniform-button:focus span,div.uniform-button:hover span,div.uniform-button.hover span {
    background-position: right -673px
}

div.uniform-button.active,div.uniform-button:active {
    background-position: 0 -583px
}

div.uniform-button.active span,div.uniform-button:active span {
    background-position: right -703px;
    color: #555
}

div.uniform-button.disabled,div.uniform-button:disabled {
    background-position: 0 -613px
}

div.uniform-button.disabled span,div.uniform-button:disabled span {
    background-position: right -733px;
    color: #bbb;
    cursor: default
}

div.uniform-button {
    height: 30px
}

div.uniform-button span {
    margin-left: 13px;
    height: 22px;
    padding-top: 8px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 2px;
    padding-right: 15px
}

div.selector {
    width: 100%;
    min-width: 100px;
    max-width: 400px;
    font-size: 12px
}

div.selector select {
	width: 40%;
    min-width: 100px;
    max-width: 300px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	border: solid 1px #fff;
	
}

div.selector span {
	cursor: pointer;
	padding-top: 0;
	padding-right: 25px;
	padding-bottom: 0;
	padding-left: 2px;
}

div.selector span {
    color: #666;
    width: 30%;
    text-shadow: 0 1px 0 #fff
}

div.selector.disabled span {
    color: #bbb;
		
}

div.checker {
    margin-right: 5px
}

div.radio {
    margin-right: 3px
}

div.uploader {
    width: 290px;
    cursor: pointer
}

div.uploader span.action {
    width: 85px;
    text-align: center;
    text-shadow: #fff 0 1px 0;
    background-color: #fff;
    font-size: 11px;
    font-weight: bold
}

div.uploader span.filename {
    color: #777;
    width: 182px;
    border-right: solid 1px #bbb;
    font-size: 11px
}

div.uploader input {
    width: 190px
}

div.uploader.disabled span.action {
    color: #aaa
}

div.uploader.disabled span.filename {
    border-color: #ddd;
    color: #aaa
}

.selector,.checker,.uniform-button,.radio,.uploader {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline
}

.selector select:focus,.radio input:focus,.checker input:focus,.uploader input:focus {
    outline: 0
}

div.uniform-button a,div.uniform-button button,div.uniform-button input {
    position: absolute
}

div.uniform-button {
    cursor: pointer;
    position: relative
}

div.uniform-button span {
    display: -moz-inline-box;
    display: inline-block;
    line-height: 1;
    text-align: center
}

div.selector {
    position: relative;
    padding-left: 10px;
    overflow: hidden;
	
}

div.selector span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
	 
}

div.selector select {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity:0);
    height: 25px;
    border: 0;
    background: 0;
	
}

div.checker {
    position: relative
}

div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center
}

div.checker input {
    opacity: 0;
    filter: alpha(opacity:0);
    display: inline-block;
    background: 0
}

div.radio {
    position: relative
}

div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center
}

div.radio input {
    opacity: 0;
    filter: alpha(opacity:0);
    text-align: center;
    display: inline-block;
    background: 0
}

div.uploader {
    position: relative;
    overflow: hidden;
    cursor: default
}

div.uploader span.action {
    float: left;
    display: inline;
    padding: 2px 0;
    overflow: hidden;
    cursor: pointer
}

div.uploader span.filename {
    padding: 0 10px;
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default
}

div.uploader input {
    opacity: 0;
    filter: alpha(opacity:0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    float: right;
    height: 25px;
    border: 0;
    cursor: default
}

.table {
    clear: both;
    width: 100%;
    margin: 0 auto
}

.dataTables_wrapper .top {
    padding: 5px 10px;
    background: url("../img/tables/table-head-bg.png") repeat-x scroll top left #ddd;
    border-bottom: 1px solid #949494;
    margin-top: 10px
}

.dataTables_wrapper .block-actions {
    margin-top: 0;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px
}

.dataTables_wrapper {
    position: relative;
    margin: -9px -10px 0 -10px;
    clear: both;
    zoom: 1
}

.dataTables_length {
    float: left;
    padding-left: 100px
}

.dataTables_length div.selector {
    width: 70px !important;
}

.dataTables_length div.selector span {
    width: 70px !important;
}

.dataTables_length label {
    margin-left: -100px
}

.dataTables_filter {
    float: right;
    text-align: right;
    padding-left: 100px
}

.dataTables_filter label {
    margin-left: -100px
}

.dataTables_filter input {
    margin-left: 5px;
    width: 150px
}

.dataTables_info {
    float: left
}

.dataTables_paginate {
    float: right
}

.table thead {
    background: url("../img/tables/table-head-bg.png") repeat-x scroll top left #ddd;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #bcbcbc
}

.table thead th:first-child {
    border-left: none
}

.table thead th:last-child {
    border-right: 0
}

.table thead th {
    vertical-align: middle;
    text-align: left;
    padding: 8px 13px;
    border-left: 1px solid #fff;
    border-right: 1px solid #c3c3c3;
    cursor: pointer
}

.table tbody th,.table tbody td,.table tfoot th,.table tfoot td {
    vertical-align: top;
    text-align: left;
    padding: 7px;
    border-left: 1px dotted #bebebe
}

.table tbody td {
    background: #f2f2f2
}

.table tbody th:first-child,.table tbody .th:first-child,.table tbody td:first-child,.table tfoot th:first-child,.table tfoot td:first-child {
    border-left: none
}

.table tbody tr.even td {
    background: #e6e6e6
}

.table tbody tr:hover th,.table tbody tr:hover .th,.table tbody tr:hover td {
    background: #d8dce6
}

.paginate_button,.paginate_active {
    background-color: #ebebeb;
    border-style: solid;
    border-width: 1px;
    border-color: #fff #b5b5b5 #b5b5b5 #ffffff;
    margin: 0;
    padding: 2px 10px;
    cursor: pointer
}

.paginate_button_disabled {
    cursor: default
}

.paginate_active {
    background-color: #5d7694;
    border-color: #31537b
}

.first {
    border-radius: 3px 0 0 3px
}

.last {
    border-radius: 0 3px 3px 0
}

.sorting_asc {
    background: url('../img/tables/arrow-asc.png') no-repeat center right
}

.sorting_desc {
    background: url('../img/tables/arrow-desc.png') no-repeat center right
}

.sorting {
    background: url('../img/tables/arrow-both.png') no-repeat center right
}

.sorting_asc_disabled {
    background: 0
}

.sorting_desc_disabled {
    background: 0
}

table.graph {
    display: none;
    width: 90%
}

.visualize {
    margin: 35px auto;
    border: 1px solid #888;
    position: relative;
    background: #fafafa
}

.visualize canvas {
    position: absolute
}

.visualize ul,.visualize li {
    margin: 0;
    padding: 0
}

.visualize .visualize-info {
    padding: 3px 5px;
    background: #fafafa;
    border: 1px solid #888;
    position: absolute;
    top: -20px;
    right: 10px;
    opacity: .8
}

.visualize .visualize-title {
    display: block;
    color: #333;
    margin-bottom: 3px;
    font-size: 1.1em
}

.visualize ul.visualize-key {
    list-style: none
}

.visualize ul.visualize-key li {
    list-style: none;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
    position: relative
}

.visualize ul.visualize-key .visualize-key-color {
    width: 6px;
    height: 6px;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -3px
}

.visualize ul.visualize-key .visualize-key-label {
    color: #000
}

.visualize-pie .visualize-labels {
    list-style: none
}

.visualize-pie .visualize-label-pos,.visualize-pie .visualize-label {
    position: absolute;
    margin: 0;
    padding: 0
}

.visualize-pie .visualize-label {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

.visualize-pie-outside .visualize-label {
    color: #000;
    font-weight: normal
}

.visualize-labels-x,.visualize-labels-y {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none
}

.visualize-labels-x li,.visualize-labels-y li {
    position: absolute;
    bottom: 0
}

.visualize-labels-x li span.label,.visualize-labels-y li span.label {
    position: absolute;
    color: #555
}

.visualize-labels-x li span.line,.visualize-labels-y li span.line {
    position: absolute;
    border: 0 solid #ccc
}

.visualize-labels-x li {
    height: 100%
}

.visualize-labels-x li span.label {
    top: 100%;
    margin-top: 5px
}

.visualize-labels-x li span.line {
    border-left-width: 1px;
    height: 100%;
    display: block
}

.visualize-labels-x li span.line {
    border: 0
}

.visualize-labels-y li {
    width: 100%
}

.visualize-labels-y li span.label {
    right: 100%;
    margin-right: 5px;
    display: block;
    width: 100px;
    text-align: right
}

.visualize-labels-y li span.line {
    border-top-width: 1px;
    width: 100%
}

.visualize-bar .visualize-labels-x li span.label {
    width: 100%;
    text-align: center
}

.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px)
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.ui-helper-clearfix {
    display: inline-block
}/*\*/* html .ui-helper-clearfix {
    height: 1%
}

.ui-helper-clearfix {
    display: block
}/**/.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-state-disabled {
    cursor: default!important
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-widget {
    font-family: 'PT Sans','Tahoma',sans-serif;
    font-size: 12px
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
    font-family: 'PT Sans','Tahoma',sans-serif;
    font-size: 1em
}

.ui-widget-content {
    border: 1px solid #aaa;
    background: #fff url(../img/jquery-ui/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222
}

.ui-widget-content a {
    color: #222
}

.ui-widget-header {
    border: 1px solid #aaa;
    background: #202f3a url(../img/jquery-ui/ui-bg_glass_5_202f3a_1x400.png) 50% 50% repeat-x;
    color: #e0e0e0;
    font-weight: bold
}

.ui-widget-header a {
    color: #e0e0e0
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(../img/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;

    color: #555
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
    color: #555;
    text-decoration: none
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
    border: 1px solid #999;
    background: #bababa url(../img/jquery-ui/ui-bg_highlight-soft_75_bababa_1x100.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121
}

.ui-state-hover a,.ui-state-hover a:hover {
    color: #212121;
    text-decoration: none
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
    border: 1px solid #aaa;
    background: #fff url(../img/jquery-ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
    color: #212121;
    text-decoration: none
}

.ui-widget :active {
    outline: 0
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(../img/jquery-ui/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636
}

.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {
    color: #363636
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error {
    border: 1px solid #ad1a1a;
    background: #fcb8ac url(../img/jquery-ui/ui-bg_inset-soft_95_fcb8ac_1x100.png) 50% bottom repeat-x;
    color: #730c0c
}

.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a {
    color: #730c0c
}

.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text {
    color: #730c0c
}

.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary {
    font-weight: bold
}

.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(../img/jquery-ui/ui-icons_222222_256x240.png)
}

.ui-widget-content .ui-icon {
    background-image: url(../img/jquery-ui/ui-icons_222222_256x240.png)
}

.ui-widget-header .ui-icon {
    background-image: url(../img/jquery-ui/ui-icons_d1d1d1_256x240.png)
}

.ui-state-default .ui-icon {
    background-image: url(../img/jquery-ui/ui-icons_888888_256x240.png)
}

.ui-state-hover .ui-icon,.ui-state-focus .ui-icon {
    background-image: url(../img/jquery-ui/ui-icons_454545_256x240.png)
}

.ui-state-active .ui-icon {
    background-image: url(../img/jquery-ui/ui-icons_454545_256x240.png)
}

.ui-state-highlight .ui-icon {
    background-image: url(../img/jquery-ui/ui-icons_2e83ff_256x240.png)
}

.ui-state-error .ui-icon,.ui-state-error-text .ui-icon {
    background-image: url(../img/jquery-ui/ui-icons_951818_256x240.png)
}

.ui-icon-carat-1-n {
    background-position: 0 0
}

.ui-icon-carat-1-ne {
    background-position: -16px 0
}

.ui-icon-carat-1-e {
    background-position: -32px 0
}

.ui-icon-carat-1-se {
    background-position: -48px 0
}

.ui-icon-carat-1-s {
    background-position: -64px 0
}

.ui-icon-carat-1-sw {
    background-position: -80px 0
}

.ui-icon-carat-1-w {
    background-position: -96px 0
}

.ui-icon-carat-1-nw {
    background-position: -112px 0
}

.ui-icon-carat-2-n-s {
    background-position: -128px 0
}

.ui-icon-carat-2-e-w {
    background-position: -144px 0
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px
}


.ui-icon-triangle-1-se {
    background-position: -48px -16px
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px
}

.ui-icon-arrow-1-s {
    background-position: -64px -32px
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
    background-position: 0 -48px
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px
}

.ui-icon-arrow-4 {
    background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px
}

.ui-icon-extlink {
    background-position: -32px -80px
}

.ui-icon-newwin {
    background-position: -48px -80px
}

.ui-icon-refresh {
    background-position: -64px -80px
}

.ui-icon-shuffle {
    background-position: -80px -80px
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px
}

.ui-icon-folder-open {
    background-position: -16px -96px
}

.ui-icon-document {
    background-position: -32px -96px
}

.ui-icon-document-b {
    background-position: -48px -96px
}

.ui-icon-note {
    background-position: -64px -96px
}

.ui-icon-mail-closed {
    background-position: -80px -96px
}

.ui-icon-mail-open {
    background-position: -96px -96px
}

.ui-icon-suitcase {
    background-position: -112px -96px
}

.ui-icon-comment {
    background-position: -128px -96px
}

.ui-icon-person {
    background-position: -144px -96px
}

.ui-icon-print {
    background-position: -160px -96px
}

.ui-icon-trash {
    background-position: -176px -96px
}

.ui-icon-locked {
    background-position: -192px -96px
}

.ui-icon-unlocked {
    background-position: -208px -96px
}

.ui-icon-bookmark {
    background-position: -224px -96px
}

.ui-icon-tag {
    background-position: -240px -96px
}

.ui-icon-home {
    background-position: 0 -112px
}

.ui-icon-flag {
    background-position: -16px -112px
}

.ui-icon-calendar {
    background-position: -32px -112px
}

.ui-icon-cart {
    background-position: -48px -112px
}

.ui-icon-pencil {
    background-position: -64px -112px
}

.ui-icon-clock {
    background-position: -80px -112px
}

.ui-icon-disk {
    background-position: -96px -112px
}

.ui-icon-calculator {
    background-position: -112px -112px
}

.ui-icon-zoomin {
    background-position: -128px -112px
}

.ui-icon-zoomout {
    background-position: -144px -112px
}

.ui-icon-search {
    background-position: -160px -112px
}

.ui-icon-wrench {
    background-position: -176px -112px
}

.ui-icon-gear {
    background-position: -192px -112px
}

.ui-icon-heart {
    background-position: -208px -112px
}

.ui-icon-star {
    background-position: -224px -112px
}

.ui-icon-link {
    background-position: -240px -112px
}

.ui-icon-cancel {
    background-position: 0 -128px
}

.ui-icon-plus {
    background-position: -16px -128px
}

.ui-icon-plusthick {
    background-position: -32px -128px
}

.ui-icon-minus {
    background-position: -48px -128px
}

.ui-icon-minusthick {
    background-position: -64px -128px
}

.ui-icon-close {
    background-position: -80px -128px
}

.ui-icon-closethick {
    background-position: -96px -128px
}

.ui-icon-key {
    background-position: -112px -128px
}

.ui-icon-lightbulb {
    background-position: -128px -128px
}

.ui-icon-scissors {
    background-position: -144px -128px
}

.ui-icon-clipboard {
    background-position: -160px -128px
}

.ui-icon-copy {
    background-position: -176px -128px
}

.ui-icon-contact {
    background-position: -192px -128px
}

.ui-icon-image {
    background-position: -208px -128px
}

.ui-icon-video {
    background-position: -224px -128px
}

.ui-icon-script {
    background-position: -240px -128px
}

.ui-icon-alert {
    background-position: 0 -144px
}

.ui-icon-info {
    background-position: -16px -144px
}

.ui-icon-notice {
    background-position: -32px -144px
}

.ui-icon-help {
    background-position: -48px -144px
}

.ui-icon-check {
    background-position: -64px -144px
}

.ui-icon-bullet {
    background-position: -80px -144px
}

.ui-icon-radio-off {
    background-position: -96px -144px
}

.ui-icon-radio-on {
    background-position: -112px -144px
}

.ui-icon-pin-w {
    background-position: -128px -144px
}

.ui-icon-pin-s {
    background-position: -144px -144px
}

.ui-icon-play {
    background-position: 0 -160px
}

.ui-icon-pause {
    background-position: -16px -160px
}

.ui-icon-seek-next {
    background-position: -32px -160px
}

.ui-icon-seek-prev {
    background-position: -48px -160px
}

.ui-icon-seek-end {
    background-position: -64px -160px
}

.ui-icon-seek-start {
    background-position: -80px -160px
}

.ui-icon-seek-first {
    background-position: -80px -160px
}

.ui-icon-stop {
    background-position: -96px -160px
}

.ui-icon-eject {
    background-position: -112px -160px
}

.ui-icon-volume-off {
    background-position: -128px -160px
}

.ui-icon-volume-on {
    background-position: -144px -160px
}

.ui-icon-power {
    background-position: 0 -176px
}

.ui-icon-signal-diag {
    background-position: -16px -176px
}

.ui-icon-signal {
    background-position: -32px -176px
}

.ui-icon-battery-0 {
    background-position: -48px -176px
}

.ui-icon-battery-1 {
    background-position: -64px -176px
}

.ui-icon-battery-2 {
    background-position: -80px -176px
}

.ui-icon-battery-3 {
    background-position: -96px -176px
}

.ui-icon-circle-plus {
    background-position: 0 -192px
}

.ui-icon-circle-minus {
    background-position: -16px -192px
}

.ui-icon-circle-close {
    background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px
}

.ui-icon-circle-check {
    background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px
}

.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px
}

.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.ui-widget-overlay {
    background: #aaa url(../img/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30)
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaa url(../img/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

.ui-resizable {
    position: relative
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    z-index: 99999;
    display: block
}

.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle {
    display: none
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px
}

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dotted black
}

.ui-accordion {
    width: 100%
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1
}

.ui-accordion .ui-accordion-li-fix {
    display: inline
}

.ui-accordion .ui-accordion-header-active {
    border-bottom: 0!important
}

.ui-accordion .ui-accordion-header a {
    display: block;
    font-size: 1em;
    padding: .5em .5em .5em .7em
}

.ui-accordion-icons .ui-accordion-header a {
    padding-left: 2.2em
}

.ui-accordion .ui-accordion-header .ui-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
    zoom: 1
}

.ui-accordion .ui-accordion-content-active {
    display: block
}

.ui-autocomplete {
    position: absolute;
    cursor: default
}

* html .ui-autocomplete {
    width: 1px
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left
}

.ui-menu .ui-menu {
    margin-top: -3px
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1
}

.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px
}

.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none!important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible
}

.ui-button-icon-only {
    width: 2.2em
}

button.ui-button-icon-only {
    width: 2.4em
}

.ui-button-icons-only {
    width: 3.4em
}

button.ui-button-icons-only {
    width: 3.7em
}

.ui-button .ui-button-text {
    display: block;
    line-height: 1.4
}

.ui-button-text-only .ui-button-text {
    padding: .4em 1em
}

.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text {
    padding: .4em;
    text-indent: -9999999px
}

.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text {
    padding: .4em 1em .4em 2.1em
}

.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text {
    padding: .4em 2.1em .4em 1em
}

.ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em
}

input.ui-button {
    padding: .4em 1em
}

.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px
}

.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px
}

.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary {
    left: .5em
}

.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary {
    right: .5em
}

.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary {
    right: .5em
}

.ui-buttonset {
    margin-right: 7px
}

.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -.3em
}

button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.ui-dialog {
    position: absolute;
    padding: .2em;
    width: 300px;
    overflow: hidden
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 16px .1em 0
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px
}

.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: 0;
    overflow: auto;
    zoom: 1
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer
}

.ui-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move
}

.ui-slider {
    position: relative;
    text-align: left
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0
}

.ui-slider-horizontal {
    height: .8em
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0
}

.ui-slider-vertical {
    width: .8em;
    height: 100px
}

.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0
}

.ui-tabs {
    position: relative;
    padding: .2em;
    zoom: 1
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border-bottom: 0!important;
    padding: 0;
    white-space: nowrap
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: 0
}

.ui-tabs .ui-tabs-hide {
    display: none!important
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0
}

.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em
}

.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover {
    top: 1px
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px
}

.ui-datepicker .ui-datepicker-next {
    right: 2px
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px
}

.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0
}

.ui-datepicker select.ui-datepicker-month-year {
    width: 20%
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
    width: 49%
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0
}

.ui-datepicker td {
    border: 0;
    padding: 1px
}

.ui-datepicker td span,.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left
}

.ui-datepicker.ui-datepicker-multi {
    width: auto
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0
}

.ui-datepicker-rtl {
    direction: rtl
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right
}

.ui-datepicker-rtl .ui-datepicker-group {
    float: right
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px
}

.ui-datepicker-cover {
    display: none;
    display: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px
}

.ui-progressbar {
    height: 2em;
    text-align: left
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%
}




.selamat{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#66CCFF;
	margin-bottom: -10px;
}


.nama_user{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;   
}